## Nombre y apellidos

**Nombre:**

**Apellidos:**

### Cambiar el nombre del notebook a *Entrega2_ApellidosNombre.ipynb*

## -->*Importante comentar el código* <--

In [1]:
import zipfile as zp # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os
import pandas as pd
import numpy as np

### Ejercicio 1: Police Dataset

**Carga el csv con los datos de la policía, y obtén la siguiente información:**

- 1. ¿Cuáles fue el delito más común en 2005? ¿Y los dos delitos más comunes en 2012?
- 2. ¿Cuál ha sido el delito más común cada año desde que tenemos estadísticas?
- 3. ¿Cuál fue el mes de 2008 con más delitos?
- 4. ¿Cuáles fueron los dos delitos más comunes en 2012?
- 5. ¿Las infracciones Speeding y Equipment son más comunes entre hombres o mujeres? Explica tu respuesta
- 6. Obtén la media de la edad de los infractores por tipo de delito
- 7. ¿Cuál es el delito por el que es más común ser arrestado?
- 8. Plotea el gráfico que consideres más adecuado para analizar los diferentes delitos cometidos por hombres y mujeres.
- 9. Plotea en el gráfico que consideres más apropiado la proporción (porcentaje) de cada tipo de delito (un gráfico por cada año)
- 10. Plotea el gráfico que consideres más adecuado para ver la evolución en el tiempo del número de delitos de Speeding, Moving violation y Equipment

In [10]:
police = pd.read_csv('datasets/police.csv')#Multas
police.head()
#police.driver_race.unique()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### Ejercicio 2: Covid Dataset

**Carga el csv con los datos covid, y obtén la siguiente información:**

- 1. ¿Cúal es la región con más casos confirmados?¿y con menos?
- 2. ¿Cuál es la región con mayor proporción de muertos con respecto a casos confirmados?
- 3. Plotea una figura con tres gráficos para estudiar la evolución en el tiempo de casos confirmados, muertos y recuperados por país en los siguientes países: España, Italia y Alemania. Tiene que haber un gráfico por país.

In [12]:
covid = pd.read_csv('datasets/covid19.csv')#Multas
covid

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

### Ejercicio 3: MovieLens Dataset

**Carga el csv con los datos de MovieLens y completa las tareas que se piden:**

In [13]:
# descargar del dataset MovieLens 
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
local_zip = os.path.join("datasets", "ml-1m.zip")
urllib.request.urlretrieve(url, local_zip)
# para descomprimir un archivo zip
with zp.ZipFile(local_zip, 'r') as zipp: 
    print('Extracting all files...') 
    zipp.extractall(os.path.join("datasets")) # donde se guarda
    print('Done!')

Extracting all files...
Done!

In [14]:
root_path = os.path.join("datasets", "ml-1m" )

ratings = pd.read_csv(os.path.join(root_path, "ratings.dat"), sep='::',
                                index_col=0, engine='python',
                                names=['UserID','MovieID','Rating','Timestamp'])

users = pd.read_csv(os.path.join(root_path, "users.dat"),sep='::',
                              index_col=0, engine='python',
                              names=['UserID','Gender','Age','Occupation','Zip-code'])

#### 3.1. Combina los datasets de ratings y users, en un dataset llamado all_dataset, cruzando por una columna común y comprueba que se ha hecho bien el cruce. Con ese dataset crea una pivot table a partir de la tabla Ratings para calcular la media y el total de ratings por  y género y ocupación

¿merge, join, concat? ¿left,right, inner?

#### Pivot Tables
- Representar los datos en función a varios parámetros, agregando
```python
pivot_table(<lista de valores>, index=<agregador primario>, columns=<agregador secundario>)
```
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

Ejemplo:

In [ ]:
all_dataset.pivot_table('Rating', index='Gender', columns='Age', aggfunc='count')

#### 3.2. Dado el dataset de géneros únelo con el dataset original (movies) encuentra:

- Comedias de 1975
- Películas del oeste de 1980
- Género del que se produjeron más películas a lo largo de cada uno de los años de la década de los 80s

In [ ]:
movies = pd.read_csv(os.path.join(root_path, "movies.dat"),sep='::', engine='python',names=['MovieID','Title','Genre'])

In [ ]:
all_genres = movies['Genre'].apply(lambda x : x.split('|'))
print(all_genres)

# print([genre for x in all_genres for genre in x])

genres = pd.unique([genre for x in all_genres for genre in x])
print(genres)

In [ ]:
# crear tabla con columnas por género
zeros = np.zeros( (len(movies), len(genres)) )
genres_frame = pd.DataFrame(zeros, columns=genres)

columns_genres = genres_frame.columns # lista de generos (columnas)
# para cada película, marcar género con 1
for i, genre in enumerate(movies['Genre']):
    inds = columns_genres.get_indexer(genre.split('|')) # retorna los indices correspondientes a los generos de cada pelicula
    genres_frame.iloc[i,inds] = 1 # localiza las columnas del genero correspondiente, marca con 1