## Nombre y apellidos

**Nombre:**

**Apellidos:**

### Cambiar el nombre del notebook a *Entrega2_ApellidosNombre.ipynb*

## -->*Importante comentar el c√≥digo* <--

In [6]:
import zipfile as zp # para descomprimir archivos zip
import urllib.request # para descargar de URL
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Carga del dataset
police = pd.read_csv('datasets/police.csv')
police.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [8]:
# Se crea la columna year para filtrar 
# Se puede hacer con str, con datetime... 
police['year'] = police['stop_date'].str[-4:]
police.head()

# Para hacerlo con datetime
# police["year"] = pd.to_datetime(police["stop_date"]).dt.year

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005

### Ejercicio 1: Police Dataset

**Carga el csv con los datos de la polic√≠a, y obt√©n la siguiente informaci√≥n:**

- 1. ¬øCu√°les fue el delito m√°s com√∫n en 2005? ¬øY los dos delitos m√°s comunes en 2012?
- 2. ¬øCu√°l ha sido el delito m√°s com√∫n cada a√±o desde que tenemos estad√≠sticas?
- 3. ¬øCu√°l fue el mes de 2008 con m√°s delitos?
- 4. ¬øCu√°les fueron los dos delitos m√°s comunes en 2012?
- 5. ¬øLas infracciones Speeding y Equipment son m√°s comunes entre hombres o mujeres? Explica tu respuesta
- 6. Obt√©n la media de la edad de los infractores por tipo de delito
- 7. ¬øCu√°l es el delito por el que es m√°s com√∫n ser arrestado?
- 8. Plotea el gr√°fico que consideres m√°s adecuado para analizar los diferentes delitos cometidos por hombres y mujeres.
- 9. Plotea en el gr√°fico que consideres m√°s apropiado la proporci√≥n (porcentaje) de cada tipo de delito (un gr√°fico por cada a√±o)
- 10. Plotea el gr√°fico que consideres m√°s adecuado para ver la evoluci√≥n en el tiempo del n√∫mero de delitos de Speeding, Moving violation y Equipment

In [9]:
# Comprobaci√≥n. Para hacer conteos, puedo utilizar size, o count para "contar sobre una columna". En el 
# segundo caso para que los datos est√©n bien, hay que utilizar una columna sin datos vac√≠os,
# ya que √©stos no ser√°n contabilizados por groupby('grupo')['columna_con_vacios'].count()

police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
year                      0
dtype: int64

In [10]:
police_2012 = police[police['year'] == '2012']
police_2012.groupby('violation_raw').count()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
violation_raw,,,,,,,,,,,,,,,
APB,7,7,0,7,7,7,7,7,7,1,7,7,7,7,7
Call for Service,107,107,0,107,107,107,107,107,107,14,107,107,107,107,107
Equipment/Inspection Violation,1976,1976,0,1976,1975,1974,1976,1976,1976,89,1976,1976,1976,1976,1976
Motorist Assist/Courtesy,17,17,0,17,17,16,17,17,17,4,17,17,17,17,17
Other Traffic Violation,2960,2960,0,2960,2960,2960,2960,2960,2960,118,2960,2960,2960,2960,2960
Registration Violation,356,356,0,356,356,356,356,356,356,26,356,356,356,356,356
Seatbelt Violation,3,3,0,3,3,3,3,3,3,0,3,3,3,3,3
Special Detail/Directed Patrol,330,330,0,330,330,329,330,330,330,2,330,330,330,330,330
Speeding,4174,4174,0,4174,4174,4169,4174,4174,4174,85,4174,4174,4174,4174,4174
Suspicious Person,6,6,0,6,6,6,6,6,6,0,6,6,6,6,6
Violation of City/Town Ordinance,29,29,0,29,29,29,29,29,29,0,29,29,29,29,29

In [13]:
# 1. ¬øCu√°les fue el delito m√°s com√∫n en 2005? ¬øY los dos delitos m√°s comunes en 2012?

# Tenemos que agrupar por delito y por a√±o para hacer el conteo (count), e inclu√≠mos as_index=False para evitar 
# que nos convierta en √≠ndices las columnas incluidas en el groupby
top_violation_2005 = police.groupby(['year','violation'], as_index=False).count()

# Visualizar todos los delitos
#top_violation_2005[top_violation_2005['year']=='2005'].sort_values('stop_date', ascending=False)

# Visualizar el delito m√°s com√∫n
# A√±adimos head(1) para que nos muestre √∫nicamente el primer elmento e iloc para mostrar el conteo una √∫nica vez.
top_violation_2005[top_violation_2005['year']=='2005'].sort_values('stop_date', ascending=False).head(1).iloc[:,0:3]

   year violation  stop_date
4  2005  Speeding       1818

In [14]:
# Igual que ejercicio anterior, pero cambiando los datos

top_violation_2012 = police.groupby(['year','violation'], as_index=False).count()
# top_violation_2012[top_violation_2012['year']=='2012'].sort_values('stop_date', ascending=False)

# A√±adimos head(2) para que nos muestre √∫nicamente los dos primeros elementeos e iloc para mostrar el conteo una √∫nica vez.
top_violation_2012[top_violation_2012['year']=='2012'].sort_values('stop_date', ascending=False).head(2).iloc[:,0:3]

    year         violation  stop_date
40  2012          Speeding       4174
36  2012  Moving violation       2960

In [16]:
# 2. ¬øCu√°l ha sido el delito m√°s com√∫n cada a√±o desde que tenemos estad√≠sticas?

# Tenemos que agrupar por delito y por a√±o para hacer el conteo (count), e inclu√≠mos as_index=False para evitar 
# que nos convierta en √≠ndices las columnas incluidas en el groupby

police_by_year_violation = police.groupby(['year','violation'], as_index=False).count()

# Se ordena en orden descendente y se eliminan los duplicados con subset='year', 
police_by_year_violation = police_by_year_violation.sort_values(['year','stop_date'], ascending=False)
police_by_year_violation.drop_duplicates(subset='year', inplace=True)
police_by_year_violation.iloc[:,0:3]

    year violation  stop_date
40  2012  Speeding       4174
34  2011  Speeding       3679
29  2010  Speeding       3710
24  2009  Speeding       3907
19  2008  Speeding       5395
14  2007  Speeding       6789
9   2006  Speeding       7732
4   2005  Speeding       1818

In [18]:
# 3. ¬øCu√°l fue el mes de 2008 con m√°s delitos?

# Separamos por / para obtener el mes. Si lo hici√©ramos por longitud de string, 
# podr√≠amos tener errores ya que en algunos casos ser√° 1 (meses del 1 al 9) y en otros 2 (meses del 10 al 12)
# El formato es MM/DD/YYYY
police['month'] = police.stop_date.str.split('/').str[0]
police.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,month
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,1
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,1
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,1
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005,2
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,3

In [19]:
# Filtramos por a√±o 2008, que es el √∫nico a√±o que nos interesa en este caso.
# Despu√©s se agrupa por mes para hacer el conteo.

top_violation_by_month_08 = police[police['year'] == '2008'].groupby('month').count()
# month.sort_values('stop_date', ascending=False)
top_violation_by_month_08.sort_values('stop_date', ascending=False).head(1).iloc[:,0:1]

       stop_date
month
1            831

In [ ]:
# 4. ¬øCu√°les fueron los dos delitos m√°s comunes en 2012
# Hecho en 1

In [ ]:
# 5. ¬øLas infracciones Speeding y Equipment son m√°s comunes entre hombres o mujeres? Explica tu respuesta

# Agrupamos por delito y g√©nero para hacer el conteo, y despu√©s filtramos los dos delitos que nos interesan

violations_by_gender = police.groupby(['violation', 'driver_gender'], as_index=False).count()

# A√±adimos head(2) para que nos muestre √∫nicamente los dos primeros elementeos e iloc para mostrar el conteo una √∫nica vez.
violations_by_gender[(violations_by_gender.violation == 'Speeding' )| (violations_by_gender.violation == 'Equipment')].iloc[:,0:3]

In [ ]:
# 6. Obt√©n la media de la edad de los infractores por tipo de delito

# Agrupamos por tipo de delito e incluimos la columna sobre la que se va a operar (la media en este caso)
violations_by_age = police.groupby('violation')['driver_age'].mean().astype(int)
violations_by_age

In [ ]:
# 7. ¬øCu√°l es el delito por el que es m√°s com√∫n ser arrestado?

# Filtramos para quedarnos √∫nicamente con los arrestos y agrupamos por tipo de delito
top_arrested_violations = police[police['is_arrested'] == True]
top_arrested_violations = top_arrested_violations.groupby('violation', as_index = False).count()
top_arrested_violations.sort_values('stop_date', ascending=False).head(1).iloc[:,0:2]

In [ ]:
# 8. Plotea el gr√°fico que consideres m√°s adecuado para analizar los diferentes delitos cometidos por hombres y mujeres.

# El gr√°fico ser√° un gr√°fico de barras con los tipos de delito en el eje de las x y una barra por g√©nero y el total en el eje y
# Vamos a obtener un df para male y otro para female, para obtener la agrupaci√≥n por tipo de delito y g√©nero
# Despu√©s obtendremos un df uniendo los dos anteriores con los datos a representar para que sea m√°s sencillo plotear.

violations_by_gender = police.groupby(['driver_gender','violation'],as_index=False)['year'].count()
violations_male = violations_by_gender[violations_by_gender['driver_gender']=='M'].sort_values('violation')
violations_male.rename(columns= {'year':'Total Male','violation':'Violations'},inplace=True)
violations_female = violations_by_gender[violations_by_gender['driver_gender']=='F'].sort_values('violation')
violations_female.rename(columns= {'year':'Total Female','violation':'Violations'},inplace=True)

frame = violations_male[['Violations','Total Male']].merge(violations_female[['Violations','Total Female']],on='Violations', how='left')
frame.set_index('Violations',inplace=True)
display(violations_male)
display(violations_female)
display(frame)

In [ ]:
import matplotlib.pyplot as plt

frame.plot(kind='bar', title='Male VS Female Violations')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# 9. Plotea en el gr√°fico que consideres m√°s apropiado la proporci√≥n (porcentaje) de cada tipo de delito (un gr√°fico por cada a√±o)

# Para representar porcentajes utilizamos el pie chart
# Hay que representar un gr√°fico por a√±o -> utilizamos for
# Se a√±ade el a√±o en el t√≠tulo para mejor comprensi√≥n

for year in police.year.unique():  
    police[police['year'] == year].groupby("violation")['stop_date'].count().plot.pie(y='violation', figsize=(5, 5),ylabel='')
    plt.title(year, weight='bold', size=14)
    plt.show()

In [ ]:
# 10. Plotea el gr√°fico que consideres m√°s adecuado para ver la evoluci√≥n en el tiempo del n√∫mero de delitos de Speeding, Moving violation y Equipment

In [ ]:
police.month = police.month.astype('int')

In [ ]:
# Obtenemos los datos agrupados para cada tipo de delito, y se hace el conte.
# Se ordenenan por fecha para que en el gr√°fico salgan los datos ordenados

speeding  = police[(police['violation'] == 'Speeding')].groupby(['year'],as_index=False)['violation'].count().sort_values(by=['year'])
equipment = police[(police['violation'] == 'Equipment')].groupby(['year'],as_index=False)['violation'].count().sort_values(by=['year'])
moving    = police[(police['violation'] == 'Moving violation')].groupby(['year'],as_index=False)['violation'].count().sort_values(by=['year'])

In [ ]:
# Ploteamos los datos anteriores

fig, ax = plt.subplots()
ax.plot(speeding.year,speeding.violation,label='Speeding') 
ax.plot(equipment.year,equipment.violation,label='Equipment')
ax.plot(moving.year,moving.violation,label='Moving') 

ax.legend(loc='best')

plt.show()

### Ejercicio 2: Covid Dataset

**Carga el csv con los datos covid, y obt√©n la siguiente informaci√≥n:**

- 1. ¬øC√∫al es la regi√≥n con m√°s casos confirmados?¬øy con menos?
- 2. ¬øCu√°l es la regi√≥n con mayor proporci√≥n de muertos con respecto a casos confirmados?
- 3. Plotea una figura con tres gr√°ficos para estudiar la evoluci√≥n en el tiempo de casos confirmados, muertos y recuperados por pa√≠s en los siguientes pa√≠ses: Espa√±a, Italia y Alemania. Tiene que haber un gr√°fico por pa√≠s.

In [ ]:
covid = pd.read_csv("./datasets/covid19.csv")
covid.head()

In [ ]:
covid.isnull().sum()

In [ ]:
covid[covid.State.notnull()]

In [ ]:
covid[covid.State.isnull()]

In [ ]:
covid.shape, len(covid.Region.unique())

In [ ]:
# Agrupamos por Region ya que piden los informaci√≥n por Region y hay varias filas para una misma Region
# Se suman para obtener el total y se ordenan
covid.groupby('Region', as_index='False')['Confirmed'].sum().sort_values(ascending=False).head(1)

In [ ]:
# Agrupamos por Region ya que piden los datos por Region y hay varias filas para una misma Region
# Se suman para obtener el total y se ordenan
covid.groupby('Region', as_index='False')['Confirmed'].sum().sort_values(ascending=True).head(1)

In [ ]:
# ¬øCu√°l es la regi√≥n con mayor proporci√≥n de muertos con respecto a casos confirmados?

In [ ]:
proportion = covid.groupby('Region', as_index='True')['Confirmed','Deaths'].sum()
proportion['proportion'] = proportion['Deaths']/proportion['Confirmed']
proportion.sort_values('proportion', ascending=False).head(1)

### Ejercicio 3: MovieLens Dataset

**Carga el csv con los datos de MovieLens y completa las tareas que se piden:**

In [ ]:
# descargar del dataset MovieLens 
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
local_zip = os.path.join("datasets", "ml-1m.zip")
urllib.request.urlretrieve(url, local_zip)
# para descomprimir un archivo zip
with zp.ZipFile(local_zip, 'r') as zipp: 
    print('Extracting all files...') 
    zipp.extractall(os.path.join("datasets")) # donde se guarda
    print('Done!')

In [ ]:
root_path = os.path.join("datasets", "ml-1m" )

ratings = pd.read_csv(os.path.join(root_path, "ratings.dat"), sep='::',
                                index_col=0, engine='python',
                                names=['UserID','MovieID','Rating','Timestamp'])

users = pd.read_csv(os.path.join(root_path, "users.dat"),sep='::',
                              index_col=0, engine='python',
                              names=['UserID','Gender','Age','Occupation','Zip-code'])

In [ ]:
ratings.head(), users.head()

In [ ]:
ratings.shape

#### 3.1. Combina los datasets de ratings y users, en un dataset llamado all_dataset, cruzando por una columna com√∫n y comprueba que se ha hecho bien el cruce. Con ese dataset crea una pivot table a partir de la tabla Ratings para calcular la media y el total de ratings por  y g√©nero y ocupaci√≥n

¬ømerge, join, concat? ¬øleft,right, inner?

In [ ]:
all_dataset = ratings.merge(users,on='UserID', how='left')
all_dataset

In [ ]:
# Comprobaci√≥n de que no se han perdido datos
all_dataset.shape

#### Pivot Tables
- Representar los datos en funci√≥n a varios par√°metros, agregando
```python
pivot_table(<lista de valores>, index=<agregador primario>, columns=<agregador secundario>)
```
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

Ejemplo:

In [ ]:
all_dataset.pivot_table('Rating', index='Gender', columns='Age', aggfunc='count')

In [ ]:
# Se crea la pivot table agregando los datos por conteo y media
all_dataset.pivot_table('Rating', index='Gender', columns='Occupation', aggfunc=['count', 'mean'])

#### 3.2. Dado el dataset de g√©neros √∫nelo con el dataset original (movies) encuentra:

- Comedias de 1975
- Pel√≠culas del oeste de 1980
- G√©nero del que se produjeron m√°s pel√≠culas a lo largo de cada uno de los a√±os de la d√©cada de los 80s

In [ ]:
# Carga del dataset movies
movies = pd.read_csv(os.path.join(root_path, "movies.dat"),sep='::', engine='python',names=['MovieID','Title','Genre'])

In [ ]:
all_genres = movies['Genre'].apply(lambda x : x.split('|'))
print(all_genres)

# print([genre for x in all_genres for genre in x])

genres = pd.unique([genre for x in all_genres for genre in x])
print(genres)

In [ ]:
# crear tabla con columnas por g√©nero
zeros = np.zeros( (len(movies), len(genres)) )
genres_frame = pd.DataFrame(zeros, columns=genres)

columns_genres = genres_frame.columns # lista de generos (columnas)
# para cada pel√≠cula, marcar g√©nero con 1
for i, genre in enumerate(movies['Genre']):
    inds = columns_genres.get_indexer(genre.split('|')) # retorna los indices correspondientes a los generos de cada pelicula
    genres_frame.iloc[i,inds] = 1 # localiza las columnas del genero correspondiente, marca con 1

In [ ]:
# Comedias 1975
comedy_1975 = movies[(movies['Title'].str.contains('1975')) & (movies['Genre'].str.contains('Comedy'))]
comedy_1975

In [ ]:
# Western 1980
western_1980 = movies[(movies['Title'].str.contains('1980')) & (movies['Genre'].str.contains('Western'))]
western_1980

In [ ]:
# extraer el a√±o de la columna Title
def split_year(title):
    index = title.index('(')
    return title[index:].replace('(','').replace(')','')

movies['Year'] = movies['Title'].apply(split_year)

In [ ]:
movies.sample(5)

In [ ]:
movies.Year.unique()

In [ ]:
# Al hacer una comprobaci√≥n en la columna Year, vemos que se mantienen los t√≠tulos, buscamos un ejemplo de los anteriores

movies[(movies['Year'] =='Blaue Engel, Der 1930') | (movies['Year'] =='Bis ans Ende der Welt 1991')]

In [ ]:
# Parece que hay pel√≠culas que tienen par√©ntesis en el t√≠tulo, por lo que vamos a tener que
# que hacer una nueva modificaci√≥n de la columna para tener el a√±o correctamente.

movies['Year_ok'] = movies['Year'].str[-4:]

# Borramos la columna antigua y renombramos
movies.drop(['Year'], axis=1, inplace=True)
movies.rename(columns={'Year_ok':'Year'}, inplace=True)
display(movies.sample(2))

In [ ]:
# Comprobamos
movies[(movies['Year'] =='Blaue Engel, Der 1930') | (movies['Year'] =='Bis ans Ende der Welt 1991')]

In [ ]:
movies.Year.unique()

In [ ]:
# G√©nero del que se produjeron m√°s pel√≠culas a lo largo de cada uno de los a√±os de la d√©cada de los 80s

# Unimos el df de las pel√≠culas con el df que nos hemos creado de los g√©neros
all_movies = movies.join(genres_frame)
all_movies.head()

In [ ]:
# Filtro por las pel√≠culas que se han producido en los a√±os 80
eighties = all_movies[all_movies['Title'].str.contains('198')]
eighties

In [ ]:
eighties.columns.values

In [ ]:
# Se agrupa por y se hace el sumatorio. Se hace el transpose para tener los g√©neros en las filas
# Y as√≠ por cada a√±o nos quedamos con el √≠ndice que tiene mayor valor (que ser√° el g√©nero m√°s producido)
eighties_by_year = pd.DataFrame(eighties.groupby(['Year'], as_index=False).sum().transpose())
eighties_by_year

In [ ]:
# Al hacer el traspose los a√±os, que queremos que sea el nombre de la columna aparecen como una fila m√°s
# por lo que renombramos las columnas con los datos de la primera fila
eighties_by_year=eighties_by_year.rename(columns=eighties_by_year.iloc[0])

# Para este estudio no nos interesan las dos primeras filas, ya que no hacen referencia a los g√©neros 
eighties_by_year = eighties_by_year[2:]
eighties_by_year

In [ ]:
# Comproabamos los √≠ndices
eighties_by_year.index

In [ ]:
# Creo una lista con el g√©nero m√°s com√∫n de cada a√±o.
my_list = []
for column in eighties_by_year.columns.tolist():

    gender = eighties_by_year[eighties_by_year[column] == eighties_by_year[column].max()].index[0]
    my_list.append((column, gender))
print(my_list)